@charset "UTF8";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
}

header {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

a {
    background: gray;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    color: red;
    text-decoration: underline;
}

nav {
    background-color: gray;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507);
    padding: 3px;
}

article {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

aside {
    background-color: rgb(161, 161, 161);
    text-align: right;
}

footer {
    margin: 10px;
    padding: 1px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
}
/*
.bola {
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: white;
    border-radius: 50%;
} */
