<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
            <div class="cabecalho"><a href="#">Home</a></div>
            <div class="cabecalho"><a href="links/about.html">About</a></div>
            <div class="cabecalho"><a href="links/product.html">Product</a></div>
            <div class="cabecalho"><a href="links/service.html">Service</a></div>
            <div class="cabecalho"><a href="links/contact.html">Contact</a></div>
            <div class="cabecalho" id="register">Login</div>
    </header>
    <main>
        <div class="main">
            <h1 id="titulo">Eid al fitr <br> mubarak</h1>
            <p id="subtitulo">Lorem ipsum dolor sit amet, consectetur adipis <br> Elit morbi dictum justo nec tellus vulputate nel.</p>
            <div class="botao">Explore</div>
        </div>
    </main>
</body>
</html>